[user]
	email = alfred.horse@gmail.com
	name = alfredma
[diff]
	#external = /home/mayang/bin/git-bc.sh
	tool = bc3
[difftool]
	prompt = false
[difftool "bc3"]
	cmd = /usr/bin/bcompare "$LOCAL" "$REMOTE"
[pretty]
	graph = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
[alias]
	lg = log --pretty=graph --graph --abbrev-commit --
	lgoneline = log --pretty=graph

